<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Testando API</title>
        
        {% block style %}
            <link rel="stylesheet" href="C:\Users\rozas\OneDrive\Documentos\Projetos_GitHub\Test_FastAPI\secao02\static\css\style.css">
        {% endblock %}
            

    </head>
    <body>
        <h1>FastAPI Web</h1>
        <div>
            <a href="/">Home</a>
            <a href="/servicos">Servicos</a>
        </div>
        <div class="container">
            {% block container %}
            {% endblock %}
    </body>
</html>