<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Testando API</title>
        <style>
        
            {% block blockname %}
                body {
                    background: rgb(0, 255, 255);
                }
                .container { 
                    width: 700px; 
                    margin-left: auto;
                    margin-right: auto; 
                }
            {% endblock blockname %}
            
        </style>

    </head>
    <body>
        <h1>FastAPI Web</h1>
        <div>
            <a href="/">Home</a>
            <a href="/servicos">Servicos</a>
        </div>
        <div class="container">
            {% block container %}
            {% endblock %}
    </body>
</html>