{% extends '_base.html' %}

{% block blockname %}
    body {
        background: #363fc0;
    }
    .container { 
        width: 700px; 
        margin-left: auto;
        margin-right: auto; 
    }
{% endblock blockname %}
    
{% block container %}
    <center>
        <h1>FastAPI Web </h1>
        <span>PAra verificar mais repositorios de FastAPI clique <a href="https://github.com/Vicrrs" target="_blank">aqui</a>.</span>
        <p>Estamos na página Index</p>
    </center>
{% endblock %}
    