<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Testando API</title>
        <style>
            body {
                background-color: bisque;
            }
            .container { 
                width: 700px; 
                margin-left: auto;
                margin-right: auto; 
            }
        </style>

    </head>
    <body>
        <h1>FastAPI Web</h1>
        <div>
            <a href="/">Home</a>
            <a href="/servicos">Servicos</a>
        </div>
        <div class="container">
            <h1>FastAPI Web </h1>
            <span>PAra verificar mais repositorios de FastAPI clique <a href="https://github.com/Vicrrs" target="_blank">aqui</a>.</span>
            <div>Usuário: {{usuario}}</div>
            <p>Estamos na página Index</p>
    </body>
</html>