{% extends '_base.html' %}


{% block style %}
    <style>
        body {
            background: rgb(255, 0, 255);
        }
    </style>
{% endblock %}
    

{% block container %}
    <center>
        <h3>Cadastro de Serviços</h3>
        <form action='/servicos' enctype="multipart/form-data" method='post' autocomplet="off">
            <div>
                <input type='text' name='servico' placeholder="Informe o servico" required  autofocus/>
            </div>
            </br>
            <div>
                <input name="arquivo" type="file">
            </div>
            </br>
            <button type='submit'>Cadastrar</button>
        </form>
        {% if imagem %}
            <img src="{{url_for('media', path=imagem)}}"/>
        {% endif %}
    </center>
{% endblock  %}
        